<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>My first EJS</title>
  </head>
  <body>
    <p>Welcome to my first EJS !</p>

    <div>
      <% if (image) { %>
      <img
        src=" http://localhost:3001/images/thumbnails/<%= image %>"
        alt="image"
      />
      <% } %>
    </div>
  </body>
</html>
