<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>My first image processing app</title>
  </head>
  <body>
    <div>
      <% if (image) { %>
      <img
        width="200px"
        height="200px"
        src=" http://localhost:3000/images/full/<%= image %>"
        alt="image"
      />
      <% } %>
    </div>
    <div class="full-image">
      <% if (image) { %>
      <img
        width="90%"
        src=" http://localhost:3000/images/full/<%= image %>"
        alt="image"
      />
      <% } %>
    </div>
  </body>
</html>
